.footer-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem;
    background-color: #1c3d6b;
    color: #ffffff;
    margin-top: 2.5rem;
}

.footer-links{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.75rem;
    gap:9px;
}

.footer-text-head{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.footer-title{
    font-weight: 600;
}

.footer-copyright{
    margin-top: 8px;
}

.footer-social-head{
    margin-left: auto;
    margin-right: auto;
}

.footer-social-link{
    display: flex;
    margin-left: 2.5rem;
    margin-top: 1.25rem;
    gap: 50px;
}

@media (min-width: 1024px) {
    .footer-links {
      flex-direction: row;
    }
  }